<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="webexpressionHandler" class="org.springframework.security.web.access.expression.DefaultWebSecurityExpressionHandler" />

    <bean id="startListener" class="config.StartupListener"/>

    <bean id="isFilled" class="config.IsFilled"/>

    <bean id="placeholderConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreResourceNotFound" value="true" />
        <property name="locations">
            <list>
                <value>/WEB-INF/config/database.properties</value>
                <value>file:${user.home}/backup_cloud/database.properties</value>
            </list>
        </property>
    </bean>

    <bean id="customAuthenticationProvider" class="authentication.CustomAuthenticationProvider">
        <property name="authUserService" ref="authUserService"/>
    </bean>

    <bean id="appProperties" class="config.AppProperties">
        <property name="appName" value="backup_cloud"/>
    </bean>

    <bean id="backupScheduler" class="schedulers.BackupScheduler" />

    <task:scheduler id="myScheduler" pool-size="2" />

    <task:scheduled-tasks scheduler="myScheduler">
        <!--<task:scheduled ref="backupScheduler" method="databaseBackupRunner" fixed-delay="300000" /> // 5 min-->
        <task:scheduled ref="backupScheduler" method="databaseBackupRunner" fixed-delay="60000" />
        <task:scheduled ref="backupScheduler" method="filesBackupRunner" fixed-delay="60000" initial-delay="30000" />
    </task:scheduled-tasks>

    <context:component-scan base-package="schedulers" />
    <context:annotation-config />
</beans>